@media print {
    body {
        font-size: small;
    }

    /* body {
        transform: scale(0.8);
        transform-origin: top left;
    }
 */
    @page {
        size: A4;
        margin: .5in 0;
    }

    body {
        max-width: 100% !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    div.bd-container {
        max-width: 100% !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}
